@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: aliceblue;
  box-sizing: border-box;
}

.container {
  height: 100vh;
}

.terakhir {
  height: 85vh;
}
nav {
  display: inline-block;
  height: 8vh;
  line-height: 8vh;
  padding: 0px 15px;
  background-color: dimgrey;
  display: flex;
  justify-content: space-between;
  color: #fff;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100vw;
}

.space {
  min-height: 10vh;
}

span {
  color: orange;
  font-size: 1.5em;
}

li {
  display: inline-block;
  list-style: none;
  padding: 0 15px;
}

li:hover {
  background-color: orange;
  color: dimgray;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: dimgray;
}
.phone {
  display: none;
}
aside {
  position: fixed;
  width: 25vw;
  top: 15vh;
  left: 71vw;
}

.konten {
}
main {
  margin: 0 30vw 0 0;
  background-color: aliceblue;
  /* display: flex;
  flex-direction: row; */
}

.content {
  padding: 0 20px;
}

footer {
  height: 30px;
  line-height: 30px;
  font-size: 10px;
  text-align: center;
  color: white;
  background-color: dimgrey;
}

@media screen and (max-width: 600px) {
  .phone {
    display: inline-block;
  }
  .tab {
    display: none;
  }
}
